h1,
h2 {
    color:rgb(218, 174, 29)
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img {
    width: 150px;
    height: auto;
}

.documento {
    background-color: rgb(248, 235, 235);
    border: 20px;
    border-color: rgb(38, 102, 165);
    border-radius: 20px;
    padding: 5px;
    margin-left: 30px;
    width: 1000px;
}

fieldset {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}